---
layout: default
title: "Etkinlikler"
---


<div class="flex justify-center items-center">
    <div class="max-w-lg my-16">
        <article class="prose md:prose-lg lg:prose-xl prose-h1:text-text2 prose-li:text-text prose-li:list-disc ">
            <h1 class="!text-text text-center">{{ page.title }}</h1>
            {% for event in site.events %}
            <div class="card bg-base-100 shadow-xl card-compact">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ event.title }}
                        <div class="text-text2 badge badge-accent badge-outline">
                            {{ event.date | date_to_string }}
            
                            {% assign simdikiTarih = 'now' | date: '%s' %}
                            {% assign etkinlikTarihi = event.date | date: '%s' %}
                            {% if simdikiTarih > etkinlikTarihi %}
                                - <span class="text-red-500">Etkinlik Tarihi Geçmiştir</span>
                            {% endif %}
        
                            {% if event.yer %}
                                - {{ event.yer }}
                            {% else %}
                                - Yer henüz belirlenmedi
                            {% endif %}
                        </div>
                    </h2>
                    <p>{{ event.excerpt | markdownify }}</p>
                    <div class="card-actions justify-end">
                        <a class="btn bg-text text-white hover:bg-base-200 transition-all duration-200 hover:-translate-y-1" href="{{ event.url }}">Daha fazla detay için</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            <div class="mt-12">
                <h3 class="!text-text text-center">Zaman Çizgisi</h3>

                <div>
                    <ul class="timeline">
                        {% for event in site.events %}
                        <li>
                            <div class="timeline-start">{{ event.date | date_to_string }}</div>
                            {% assign simdikiTarih = 'now' | date: '%s' %}
                            {% assign etkinlikTarihi = event.date | date: '%s' %}
                            {% if simdikiTarih > etkinlikTarihi %}
                            <div class="timeline-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                            </div>
                            {% endif %}
                            <div class="timeline-end timeline-box">{{ event.title }}</div>
                            <hr/>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </article>

    </div>
</div>

