<div class="navbar bg-base-100 sticky top-0 z-50">
  <div class="flex-1">
    <a class="btn btn-ghost" href="/">
      <img class="h-12" src="/assets/images/logo.svg" alt="BTK" />
      <h1 class="hidden flex-none items-center md:block">Bilgisayar ve Teknoloji Kulübü - {{page.title}}</h1>
    </a>
  </div>
  <div >
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>Bağlantılar</summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            {% for item in site.data.nav %}
            <li>
              <a href="{{ item.link }}"> {{ item.name }} </a>
            </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
