<script src="./assets/libs/tailwindcss.js"></script>
<script>
  tailwind.config = {
    theme: {
      colors: {
        transparent: "transparent",
        current: "currentColor",
        back: "#2F2E7C",
        text: "#41BBE8",
        text2: "#0CE1C4",
      },
    },
    daisyui: {
      themes: ["light", "dark", "cupcake", "night"],
    },
  };
</script>
<link
        href="./assets/libs/daisyui@latest.min.css"
        rel="stylesheet"
        type="text/css"
/>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicon/site.webmanifest">