$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$prim: #2F2E7C;
$sec: #41BBE8;
$ter: #0CE1C4;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $prim; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $sec;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $ter; 
}