---
layout: default
---

<div class="flex justify-center items-center">
    <div class="max-w-lg my-16">
        <article
            class="prose lg:prose-xl prose md:prose-lg lg:prose-xl prose-p:text-text prose-h1:text-text prose-h2:text-text2 prose-li:text-text prose-li:list-disc">
            <h1 class="text-text">
                {{ page.title }}
                <div class="text-text2 badge badge-accent badge-outline">
                    {{ page.date | date_to_string }}
    
                    {% assign simdikiTarih = 'now' | date: '%s' %}
                    {% assign etkinlikTarihi = page.date | date: '%s' %}
                    {% if simdikiTarih > etkinlikTarihi %}
                        - <span class="text-red-500">Etkinlik Tarihi Geçmiştir</span>
                    {% endif %}
                </div>
            </h1>
            {{ content }}
        </article>
    </div>
</div>